
<div id="info" class="flexHori">   
  <div class="flexHori"><div><img title="Instructions" id="specImg" src="/image/instruction.jpg" alt="SymbolsInfo"></div></div>
  <div class="flexHori"><div><img src="/image/right.jpg" alt="Done-Symbol"></div><div class="infoApp">Done</div></div>
  <div class="flexHori"><div><img src="/image/updatedWrong.png" alt="NotDone-Symbol"></div><div class="infoApp">Not Done</div></div>
  <div class="flexHori"><div><img src="/image/updatedNothing.png" alt="NoAction-Symbol"></div><div class="infoApp">No Action</div></div>
</div>
