body{
  margin:0;
  padding:0;
  display:flex;
  flex-direction:column;
}


/* General Styles */
/* Flex Vert and FlexHori to change display prop*/
.flexVert{
  display:flex;
  flex-direction:column;
}


.flexHori{
  display:flex;
  align-items: center;
}
.flexHori img{
  width:30px;
  height:30px;
}
#top{
  width : 100%;
  height:70px;
  background-color:rgb(105, 28, 143);
  text-transform:uppercase;
  top:0px;
  z-index:2;
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  justify-content: space-around;
  position:fixed;
}

#top a{
   list-style: none;
   color:white;
   text-decoration: none;
}

#top a:hover{
  border-bottom: 2px solid white;
} 

/* main section */
#main{
  min-height:100vh;
  margin-top:65px;
}

/* this styling for Symbol Girl Emoji */
#specImg{
  width:35px;
  height:35px;
}

.specText{
  color: black;
  margin-bottom: 5px;
  font-weight: 600;
}

