
#weeklyView > div{
  height:120px;
  margin:10px 20px 0px;
}

#weeklyView > .flexVert{
  justify-content: space-around;
  border-bottom:2px solid rgb(27, 119, 205);
}
.habbitHead{
  height:40px;
  justify-content:center;
  text-transform: capitalize;
  font-size: 25px;
}

.habbitHead a{
  margin-left:10px;
} 

.habbitDates{
  height:60px;
  justify-content: space-around;
}
.habbitDates .flexVert{
  height:100%;
  justify-content: space-around;
  width:90px;
  align-items: center;
}
.statusBox{
  height:30px;
  width:30px;
}